* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: '나눔바른고딕';
}

:root {
    /* color list */
    --color-primary: rgb(77, 77, 77);
    --color-black: #050a13;
    --color-white: #fff;
    --color-border: tomato;
    --color-silver: silver;
    --color-footer-bg: rgb(248, 248, 248);
    --color-gray-222: rgb(102,102,127);
    --color-button: rgb(251, 67, 87);

    --color-buttonbg: rgb(254,254,254);
    --color-buttonbd1: rgb(226,226,226);
    --color-buttonbd2: rgb(244,244,244);
    
    --color-font-primary: rgb(34,34,34);
    --color-hashtag: rgb(246,246,246);
    --color-login-font: rgb(137,137,135);
    --color-join-border: rgb();
    --color-table: rgb(248,248,248);
    --color-table-border: rgb(225,223,213);
    --color-table-border-bottom: rgb(184,182,170);
    --color-table-font:rgb(102,102,102);
}

/* index -total-button style */
.total-view-button {
    border: 1px solid var(--color-buttonbd1);
    background-color: var(--color-buttonbg);
    padding: 4px 15px;
    border-radius: 15px;
}
.total-more-button {
    border: 1px solid var(--color-buttonbd2);
    background-color: var(--color-buttonbg);
    padding: 2px 15px;
    border-radius: 15px;
}
/* 컨텐츠 가운데 정렬 */
.center-layout{
    /* border: 1px solid red; */
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 50px;
}
.center-title{
    /* border: 1px solid blue; */
    padding: 40px 15px 10px;
    margin-bottom: 40px;
}

/* moviechart, event special => title style*/

.content-title-style{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
.content-title-style-font{
    font-size: 1.4em;
    font-weight: 600;
}
.font-color-main{
    color: var(--color-font-primary);
}
.font-color-gray{
    color: var(--color-gray-222);
}
.btn-main-color{
    border: 1px solid var(--color-white);
    color: var(--color-white);
    background-color: rgb(251, 67, 87);
    font-weight: 700;
}
.content-padding{
    padding: 40px 0;
}
/* 많이쓰는 스타일들을 common css파일을 만들어 사용 */