:root {
    /* color list */
    --color-primary: #222222;
    --color-black: #050a13;
    --color-white: #fff;
    --color-border: tomato;
    --color-silver: silver;
    --color-footer-bg: rgb(248, 248, 248);
    --color-gray-222: rgb(102,102,127);
    --color-button: rgb(251, 67, 87);

    --color-buttonbg: rgb(254,254,254);
    --color-buttonbd1: rgb(226,226,226);
    --color-buttonbd2: rgb(244,244,244);
    
    --color-font-primary: rgb(34,34,34);
    --color-hashtag: rgb(246,246,246);
    --color-login-font: rgb(137,137,135);
    --color-join-border: rgb();
    --color-table: rgb(248,248,248);
    --color-table-border: rgb(225,223,213);
    --color-table-border-bottom: rgb(184,182,170);
    --color-table-font:rgb(102,102,102);
    --color-login-border: rgb(181,181,181);
}





*{
    margin: 0;
    box-sizing: border-box;
}





ul {
    list-style-type: none;
}
 .header__top{
    background-color: aliceblue;
 }