.container{
    text-align: center;
    border: 1px solid lightgray;
    width: 40%;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}
.number {
    font-size: 30px;
    padding: 10px;
}
.total-number {
    font-size: 50px;
    font-weight: bold;
    padding: 10px;
}

.button{
    font-size: 15px;
    margin: 20px 10px;
}